/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #F0F0D7;
    margin: 0;
    padding: 0;
  }
  
  .navbar-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  
  .navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-link {
    margin: 0 10px;
    font-size: 16px;
  }
  
  .navbar-toggler-icon {
    background-color: #000;
  }
  
  .btn-logout {
    background-color: #dc3545;
    border-color: #dc3545;
    color: white;
  }
  
  .btn-logout:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }

/* Orders List */

.text-center{
    margin-top: 8rem;
    
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    color: #333;

  }
  
  .list-group-item h5 {
    margin: 0;
    color: #333;
  }
  
  .list-group-item p {
    margin: 5px 0;
    color: #666;
  }
  
  .badge {
    font-size: 14px;
    padding: 5px 10px;
  }
  