.signup {
  background-color: #F0F0D7;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 300px;
} 

.navbar-icon {
  width: 40px;
  height: 40px;
  margin-right: 0.5rem;
}

.signup .signup-container {
  max-width: 500px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.signup .app-img img {
  width: auto;
  max-width: 500px;
  max-height: 700px;
  border-radius: 8px;
}

button {
  background-color: #646cff;
}

button:hover {
  background-color: #535bf2;
}
